.hero{

    min-height:100vh;

    display:flex;

    align-items:center;

    background:#F8F5F2;
}

.hero-content{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:70px;

    align-items:center;
}

.hero-tag{

    color:var(--primary);

    font-weight:600;

    letter-spacing:2px;

    display:inline-block;

    margin-bottom:20px;
}

.hero h1{

    font-size:4rem;

    line-height:1.1;

    margin-bottom:25px;
}

.hero p{

    color:var(--text-light);

    font-size:1.1rem;

    line-height:1.8;

    margin-bottom:35px;
}

.hero-buttons{

    display:flex;

    gap:18px;
}

.outline-btn{

    border:2px solid var(--primary);

    color:var(--primary);

    padding:14px 30px;

    border-radius:50px;

    transition:.3s;
}

.outline-btn:hover{

    background:var(--primary);

    color:white;
}

